In [1]:
import pandas as pd 
import numpy as np

In [26]:

# Load the dataset
user_dataset = pd.read_csv("examplary_datasets/Customer_support_data.csv")
user_dataset.columns = user_dataset.columns.str.replace(' ', '_')

# Missing Values
missing_values = user_dataset.isnull().sum()

# Unique Values in Each Column
unique_values = {column: user_dataset[column].nunique() for column in user_dataset.columns}

# Non-Null Percentage
non_null_percentages = (user_dataset.count() / len(user_dataset)) * 100

# Create a dictionary to store all the column information
info_dict = {
    'Missing Values': missing_values,
    'Unique Values': pd.Series(unique_values),
    'Non-Null Count': user_dataset.count(),
    'Non-Null Percentage': non_null_percentages,
    'Dtype': user_dataset.dtypes
}

# Convert the dictionary to a DataFrame
merged_info = pd.DataFrame(info_dict)

# Display the merged DataFrame
print("Merged Information:")
display(merged_info)

Merged Information:

,Missing Values,Unique Values,Non-Null Count,Non-Null Percentage,Dtype
Unique_id,0,85907,85907,100.000000,object
channel_name,0,3,85907,100.000000,object
category,0,12,85907,100.000000,object
Sub-category,0,57,85907,100.000000,object
Customer_Remarks,57165,18231,28742,33.457111,object
Order_id,18232,67675,67675,78.777050,object
order_date_time,68693,13766,17214,20.037948,object
Issue_reported_at,0,30923,85907,100.000000,object
issue_responded,0,30262,85907,100.000000,object
Survey_response_Date,0,31,85907,100.000000,object
Customer_City,68828,1782,17079,19.880801,object
Product_category,68711,9,17196,20.016995,object
Item_price,68701,2789,17206,20.028636,float64
connected_handling_time,85665,211,242,0.281700,float64
Agent_name,0,1371,85907,100.000000,object
Supervisor,0,40,85907,100.000000,object
Manager,0,6,85907,100.000000,object
Tenure_Bucket,0,5,85907,100.000000,object
Agent_Shift,0,5,85907,100.000000,object
CSAT_Score,0,5,85907,100.000000,int64

In [24]:

# Correlation matrix for numerical columns
numeric_columns = user_dataset.select_dtypes(include=['int64', 'float64'])

# Correlation matrix for numeric columns
correlation_matrix = numeric_columns.corr()

# Display the correlation matrix
print("\nCorrelation Matrix for Numeric Columns:")
display(correlation_matrix)

Correlation Matrix for Numeric Columns:

                         Item_price  connected_handling_time  CSAT_Score
Item_price                 1.000000                 0.650016   -0.123320
connected_handling_time    0.650016                 1.000000    0.047526
CSAT_Score                -0.123320                 0.047526    1.000000